@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<link rel="stylesheet" href="~/css/Game.css" asp-append-version="true" />

<div id="Table" class="container vh-100">
    <div id="Oponent" class="row h-25">
        <div class="col"></div>
        <div class="col">Tegenstander aantal kaarten</div>
        <div class="col"></div>
    </div>
    <div id="GameInfo" class="row h-50">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col">Kaart pakken</div>
    </div>
    <div id="Player" class="row h-25">
        <div class="col"></div>
        <div class="col">jij</div>
        <div class="col"></div>
    </div>

</div>