@model List<LobbyTable>
@{
    ViewData["Title"] = "Lobby";
}
<p>
    <a asp-action="CreateTable">Nieuwe game</a>
</p>


<h2>Lobby</h2>

<ul>
    @foreach (var table in Model)
    {
        <li>
            <a href="@Url.Action("JoinTable", "Game", new { tableId = table.TableId })">
                Tafel: @table.TableName - Max aantal spelers: @table.NumberOfPlayers
            </a>
        </li>
    }
</ul>



