@model DeveloperProfile
@{
    ViewData["Title"] = "Profiel van de developer";
}
<div class="text-center container">
    <div class="m-5" id="profile-picture">
        <img src="@Model.PictureURL" /> <br />
        <p><b>@Model.Name</b></p>
    </div>
    <h1>Skills</h1>
    <p>
        @foreach (var skill in Model.Skills)
        {
            @skill
        }
    </p>

    <h1>beschrijving/introductie</h1>
    <p>
        @Model.Discription
    </p>
</div>
<style>
    #profile-picture {
        background-color: #e7e8ec;
        padding: 10px;
    }

    #profile-picture p {
        font-size: 20px;
    }
    img {
        border-radius: 25px;
    }
</style>